{% extends 'urlshortener/base.html' %} 

{% block body %}

<style>
  h1 {
    text-align:center;
  }

  .container-body__url-shortener {
    background-color: #e9ecef;
    font-size: 1.5rem;
    text-align: center;
  }
</style>

<div class="container-body">
  <h1>Django Url shortener</h1>
  <form action="" method="POST">
    {% csrf_token %}
    <div class="row g-1">
      <div class="col-10">{{form.long_url}}</div>
      <div class="col-2">
        <button class="btn btn-success btn-lg w-100" type="submit">Shorten</button>
      </div>
    </div>
  <hr>
  
  <div class="container-body__url-shortener">
    {% if new_url %}
      <h2>Your shortened Url</h2>
      <p>You can copy the Link below and share it with your friends</p>
      <p>New Shortened_URL: 
        <a href="{{ new_url }}">{{ new_url }}</a>
      </p>
      <p>Previous URL: {{ long_url }}</p>
      <hr>
    {% endif %}
  </div>

  <div class="container-body__usage-history">
    {% if history_user_used %}
      <h3>History</h3>
      {% for history_user_used in history_user_used %}
      <p>{{ history_user_used }}</p>
      {% endfor %}
    {% endif %}
  </div>

</div>
{% endblock body %}










{% comment %} 
{% extends 'urlshortener/base.html' %} 

{% block body %}

<div class="container">
  <div class="card mt-5">
    <div class="card-header text-center py-3">
      <h1>URL Shortner <i class="fas fa-link px-2"></i></h1>
    </div>
    <div class="px-3 py-4">
      <form action="" method="POST">
        {% csrf_token %}
        <div class="row g-1">
          <div class="col-10">{{form.long_url}}</div>
          <div class="col-2">
            <button class="btn btn-success btn-lg w-100" type="submit">
              Shorten
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  {% if errors %}
  <div class="alert alert-danger mt-4" role="alert">
    <p>{{errors}}</p>
  </div>
  {% endif %}

  {% if new_url %}

  <div class="mx-auto text-center mt-5">
    <h2 class="text-danger">Your shortened Url</h2>
    <p>You can copy the Link below and share it with your friends</p>
    <p class="">{{new_url}}</p>
    <p><span class="text-danger">Previous URL:</span> {{long_url}}</p>
  </div>
  {% endif %}
</div>
{% endblock body %} {% endcomment %}