{% extends 'urlshortener/base.html' %} 

{% block body %}

<style>
  h1 {
    text-align:center;
  }

  .container-body__url-shortener {
    background-color: #e9ecef;
    font-size: 1.5rem;
    text-align: center;
  }
</style>

<div class="container-body">
  <h1>URL SHORTENER</h1>
  <form action="" method="POST">
    {% csrf_token %}
    <div class="row g-1">
      <div class="col-10">{{form.original_url}}</div>
      <div class="col-2">
        <button class="btn btn-success btn-lg w-100" type="submit">Shorten</button>
      </div>
    </div>
  <hr>
  <div class="container-body__url-shortener">
    {% if new_url %}
      <h2>YOUR SHOTRENED URL</h2>
      <p>You can copy the link below and share it with your friends</p>
      <p>NEW SHORTENED URL: 
        <a href="{{ new_url }}">{{ new_url }}</a>
      </p>
      <p>ORIGIN URL: {{ original_url }}</p>
      <hr>
    {% endif %}
  </div>
  <div class="container-body__usage-history">
    {% if request.user.is_authenticated %}
      <h3>History</h3>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">URL USED</th>
            <th scope="col">COUNT ONCLICK</th>
          </tr>
        </thead>
        <tbody>
          {% for shortend_url_instances in shortend_url_instance %}
          <tr>
            <td>{{ shortend_url_instances.shortend_url }}</td>
            <td>{{ shortend_url_instances.shortend_url.times_followed }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
  </div>
</div>
{% endblock body %}
